img {
  width: 100%;
}

.btn {
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: 30px;
}

.top {
  height: 80%;
  width: 100%;
  overflow: hidden;
}

.top img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

html, body {
  background: #E3E3D8;
  font-family: sans-serif;
}

.wrapper {
  min-width: 270px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 440px;
  background: white;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(1);
  transition: 0.5s;
}
.wrapper:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 5px #525050;
}
.wrapper .contain {
  width: 100%;
  height: 100%;
}
.wrapper .contain .top {
  height: 70%;
  width: 100%;
  background-size: 100%;
}
.wrapper .contain .bottom {
  width: 200%;
  height: 30%;
  transition: transform 0.5s;
}
.wrapper .contain .bottom.clicked {
  transform: translateX(-50%);
}
.wrapper .contain .bottom h6 {
  margin: 0;
  padding: 0;
}
.wrapper .contain .bottom p {
  margin: 0;
  padding: 0;
}
.wrapper .contain .bottom .left {
  height: 100%;
  width: 50%;
  background: #f4f4f4;
  position: relative;
  float: left;
}
.wrapper .contain .bottom .left .details {
  padding: 20px 0 20px 20px;
  float: left;
  width: calc(70% - 10px);
}
.wrapper .contain .bottom .left .buy {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.wrapper .contain .bottom .left .buy i {
  font-size: 30px;
  padding: 30px;
  color: #254053;
  transition: transform 0.5s;
}
.wrapper .contain .bottom .left .buy:hover {
  background: #525050;
}
.wrapper .contain .bottom .left .buy:hover i {
  transform: translateY(5px);
  color: white;
}
.wrapper .contain .bottom .right {
  width: 50%;
  background: #525050;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}
.wrapper .contain .bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(70% - 40px);
}
.wrapper .contain .bottom .right .done {
  width: calc(30% - 2px);
  float: left;
  transition: transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}
.wrapper .contain .bottom .right .done i {
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .contain .bottom .right .remove {
  width: calc(30% - 1px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
  background: rgba(39, 38, 38, 0.419);
  color: white;
  transition: transform 0.5s, background 0.5s;
}
.wrapper .contain .bottom .right .remove:hover {
  background: rgba(82, 80, 80, 0.679);
}
.wrapper .contain .bottom .right .remove:hover i {
  transform: translateY(5px);
}
.wrapper .contain .bottom .right .remove i {
  transition: transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .contain .bottom .right:hover .remove, .wrapper .contain .bottom .right:hover .done {
  transform: translateY(-100%);
}
.wrapper i {
  cursor: pointer;
}
.wrapper .inside {
  color: white;
  z-index: 9;
  background: #525050;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}
.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 75%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
  color: white;
}
.wrapper .inside .contents p {
  font-size: 13px;
}

#home_quicklinks {
  padding: 20px 0;
  text-align: center;
}

a.quicklink.link1 {
  background: #fc6719;
}

a.quicklink {
  display: inline-block;
  width: 302px;
  height: 173px;
  position: relative;
  margin: 90px 30px;
}

a.quicklink .ql_caption {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.outer {
  display: table;
  position: relative;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
  border-spacing: 0px;
  padding: 0px;
}

.inner {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
  border-spacing: 0px;
  padding: 0px;
}

a.quicklink .ql_caption h2 {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  line-height: 1.46em;
  color: #fff;
}

a.quicklink.link1 .ql_top {
  border-bottom-color: #fc6719;
}

a.quicklink.link1 .ql_bottom {
  border-top-color: #fc6719;
}

.ql_top {
  bottom: 173px;
  border-bottom: 89px solid #ccc;
}

.ql_bottom {
  top: 173px;
  border-top: 89px solid #ccc;
}

.ql_top, .ql_bottom {
  position: absolute;
  left: 0px;
  width: 0px;
  border-left: 151px solid transparent;
  border-right: 151px solid transparent;
}

a.quicklink.link2 {
  background: #fcf4e7;
}

a.quicklink.link2 .ql_top {
  border-bottom-color: #fcf4e7;
}

a.quicklink.link2 .ql_bottom {
  border-top-color: #fcf4e7;
}

a.quicklink.link3 .ql_top {
  border-bottom-color: #bcbdc0;
}

a.quicklink.link3 .ql_bottom {
  border-top-color: #bcbdc0;
}

a.quicklink.link3 {
  background: #bcbdc0;
}

a.quicklink {
  font-size: 36px;
  font-weight: 500;
  text-decoration: none;
}

.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  margin: 86.6px 0;
  background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 334.8632px;
  background-position: center;
  box-shadow: 0 0 20px rgba(0, 128, 192, 0.6);
  border-left: solid 5px #4a401c;
  border-right: solid 5px #4a401c;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 38.93px;
  box-shadow: 0 0 20px rgba(0, 128, 192, 0.6);
}

.pagination > li > a, .pagination > li > span {
  border-radius: 50% !important;
  margin: 0 5px;
}

@media (max-width: 768px) {
  .wrapper {
    margin: 0 !important;
    padding: 0 !important;
  }
}/*# sourceMappingURL=product.component.css.map */