<footer class="pt-3 mt-5">
  <div class="top d-flex flex-column align-items-center flex-md-row justify-content-md-center">
    <div class="icons me-lg-3 mb-lg-3">
      <i class="fa-brands fa-facebook facebook"></i>
      <i class="fa-brands fa-instagram instagram"></i>
      <i class="fa-brands fa-snapchat snapchat"></i>
      <div class="borders d-none d-md-inline"></div>
     </div>
     <div class="imges ms-lg-3">
      <img src="/assets/visa-png.avif">
      <img src="/assets/mastercard-png.avif">
      <img src="/assets/pay-pal-png.avif">
      <img src="/assets/american-express-png.avif">
      <img src="/assets/visa-electron-png.avif">
     </div>
  </div>
  <div class="center">
    <div class="container">
      <div class="row">
        <div class="col-6 col-lg-3">
          <section>
            <h4>Help & Information</h4>
            <ul>
              <li>Help</li>
              <li>Track order</li>
              <li>Delivery $ Returns</li>
              <li>Sitemap</li>
            </ul>
          </section>
        </div>
        <div class="col-6 col-lg-3">
          <section>
            <h4>About ASOS</h4>
            <ul>
              <li>About Us</li>
              <li>Careers at ASOS</li>
              <li>Corporate responsability</li>
              <li>Investors' site</li>
            </ul>
          </section>
        </div>
        <div class="col-12 col-lg-3">
          <section>
            <h4>More From ASOS</h4>
            <ul>
              <li>Mobile and ASOS apps</li>
              <li>Gift vouchers</li>
              <li>Black Friday</li>
              <li>ASOS x Thrift+</li>
            </ul>
          </section>
        </div>
        <div class="col-12 col-lg-3">
          <section>
            <h4>Shopping from:</h4>
            <ul>
              <li>You are in : <img src="/assets/eg.png"><div class="borders"></div> CHANGE</li>
            </ul>
            <p>Some of our international sites:</p>
              <img src="/assets/es.png">
              <img src="/assets/de.png">
              <img src="/assets/au.png">
              <img src="/assets/fr.png">
              <img src="/assets/us.png">
              <img src="/assets/dk.png">
              <img src="/assets/it.png">
              <img src="/assets/nl.png">
              <img src="/assets/pl.png">
              <img src="/assets/se.png">
          </section>
        </div>
      </div>
    </div>
  </div>
   <div class="bottom">
    <div class="container d-flex justify-content-between">
      <p class="m-0"> &copy; 2025 ASOS</p>
      <div class="pointer">
        <span>Privacy & Cookies</span>&nbsp;&nbsp; |&nbsp;&nbsp;<span>Ts&Cs</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>Accessibility</span>
      </div>
   </div>
   </div>
</footer>
