.wishList-title{
    padding: 24px 0;
    background-color: #eee;
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: center;
}