<div class="cart-wrap">
  <div class="main-heading-container">
    <div class="wishList-title mb-4">SAVED ITEMS</div>
  </div>

  <!-- Loading State -->
  <!-- <div *ngIf="isLoading" class="text-center my-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div> -->

  <!-- Not Loading States -->
  <ng-container *ngIf="!isLoading">
    <!-- Logged User with Products -->
    <div *ngIf="loggedUserToken && wishListProducts.length > 0" class="container">
      <div class="row">
        <div *ngFor="let product of wishListProducts" class="col-sm-6 col-md-4 col-lg-3 px-2 mb-4">
          <div>
            <div class="mb-2 position-relative">
              <img [src]="product.imageUrls[0]" class="w-100 h-100" [alt]="product.name">
              <i class="fa-solid fa-trash fav pointer" (click)="removeFromWishList(product.id)"></i>
              <i class="fa-solid fa-cart-plus cart pointer" (click)="AddToCart(product.id)"></i>
            </div> 
            <p class="mb-2">{{product.name}}</p>   
            <div class="d-flex justify-content-between mb-2">
              <span>{{product.price | currency }}</span>
              <span>
                {{product.rate}}
                <i class="fa-solid fa-star text-warning"></i>
              </span>
            </div>      
          </div>
        </div>
      </div>
    </div>

    <!-- Empty Wishlist -->
    <div *ngIf="loggedUserToken && wishListProducts.length === 0" 
         class="vh-100 d-flex flex-column justify-content-center align-items-center">
      <i class="fa-regular fa-heart fa-4x mb-4 text-muted"></i>
      <h2 class="text-muted fs-1 mb-4">Your Wishlist is Empty</h2>
      <button class="btn btn-dark" routerLink="/home">Continue Shopping</button>
    </div>

    <!-- Not Logged In -->
    <div *ngIf="!loggedUserToken" 
         class="vh-100 d-flex flex-column justify-content-center align-items-center">
      <i class="fa-solid fa-user-lock fa-4x mb-4 text-danger"></i>
      <h2 class="text-danger fs-1 mb-4">Please Log In First</h2>
      <button class="btn btn-dark" routerLink="/login">Log In</button>
    </div>
  </ng-container>


</div>