<Section class="mt-5 ">
  <div class="container px-5">
    <div class="row">  

      @for(brand of brandsArr ; track brand){

      <div class="col-sm-6 col-md-4 col-lg-3 px-2 mb-4 brand pointer">
            <div>
              <div class="mb-2">
                <img [src]="brand.brandImage" class="w-100 img-h shadow rounded-5 pointer" [alt]="brand.name" [routerLink]="['/m-brand-products' , brand.name]">
              </div> 
              <p class="mb-2 text-center fw-medium">{{brand.name}}</p>       
            </div>

      </div>
    }
    </div>
  </div>
</Section>
