<Section class="mt-5">
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col-lg-2 mb-4 d-flex flex-column">

        <div class="accordion mb-4" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button fw-medium" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Filter By
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul class="list-unstyled">

                  <li class="form-check form-switch mb-2">
                    <input class="form-check-input" type="radio"  name="men-shoes-SubCats" id="All" value="" (input)="GetAllShoesProducts()" checked> 
                    <label class="form-check-label fw-medium ms-2" for="All">ِAll</label>
                  </li>
                  <li class="form-check form-switch mb-2">
                    <input class="form-check-input" type="radio" name="men-shoes-SubCats" id="Running Trainers" value="Running Trainers" (input)="GetMenRunningTrainersproducts()">
                    <label class="form-check-label fw-medium ms-2" for="Running Trainers">Running Trainers</label>
                  </li>
                  <li class="form-check form-switch mb-2">
                    <input class="form-check-input" type="radio" name="men-shoes-SubCats" id="Loafers" value="Loafers" (input)="GetMenLoafersProducts()">
                    <label class="form-check-label fw-medium ms-2" for="Loafers">Loafers</label>
                  </li>
                  <li class="form-check form-switch mb-2">
                    <input class="form-check-input" type="radio" name="men-shoes-SubCats" id="Sandals" value="Sandals" (input)="GetMenSandalsProducts()">
                    <label class="form-check-label fw-medium ms-2" for="Sandals">Sandals</label>
                  </li>
                  <li class="form-check form-switch mb-2">
                    <input class="form-check-input" type="radio" name="men-shoes-SubCats" id=" Flip Flops" value=" Flip Flops" (input)="GetMenFlipFlopsProducts()">
                    <label class="form-check-label fw-medium ms-2" for=" Flip Flops"> Flip Flops</label>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>

        <input type="search" [(ngModel)]="searchWord" placeholder="Search For Product ... " class="form-control rounded-5 ps-4">


      </div>

      <div class="col-lg-10">
        <div class="row">
        
          <div class="col-sm-6 col-md-4 col-lg-3 px-2 mb-4" *ngFor="let product of products|menShoesSearch:searchWord">
            <app-product [product]="product"></app-product>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</Section>
